#login{
    text-decoration: underline;
    color: black;
    background-color: rgb(218, 240, 240);
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    border-color: black;
    margin-left: 15px;
    margin-right: 25px;

    
}
#login:hover{
    background-color: greenyellow;
    border-color:blue;
}

.footer{
text-align: center;

}
.followus{
    display: flex;
    justify-content: flex-end;
}
#instagram{
    background-color: rgb(238, 64, 64);
    color: white;
}
#addtocartbutton{
    background-color: rgb(134, 148, 13);
    border-style: solid;
    border-width: 2px;
    border-color: aqua;
    border-radius: 10px;

}
#addtocartbutton:hover{
    background-color: rgb(18, 94, 207);
}
.category{
    color: rgb(10, 5, 77);
    background-color: rgb(208, 241, 230);
    border-radius: 25px;
    padding: 15px;
    
}
.tabs{
    color: black;
    background-color: rgb(226, 238, 238);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: black;
    stroke-width: 2px;
    

}
.tab{
    color: black;
    background-color: aqua;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    stroke-width: 2px;
}
.notavailable{
    color: rgb(69, 5, 172);
    text-align: center;
    background-color: aquamarine;
    
}
.plaseOrder{
    display: flex;
    justify-content:flex-end;
    margin-right: 5px;
}
.cart{
    color: rgb(5, 4, 80);

}
.carticon{
    align-content: end;
    justify-content: end;
}

