.bookLand{
    color: rgb(255, 0, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    //background-image:url(imges/Untitled.jpeg);
    background-size: auto;
}
.bookLandLogo{
       background-image:url(imges/booklandlogo.jpeg); 
       background-size:auto;
}
.brand{
    background-image:url(imges/booklandlogo.jpeg); 
    background-size:auto;
}